{%  load django_bootstrap5%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>장고 입문</title>
</head>
<body>
    <div class="container">
    <h1>장고 입문</h1>
    {% if user.is_authenticated %}
        <p> logged by {{ user }}</p>
        <a href="/accounts/logout/">Logout</a>
    {% else %}
        <a href="/accounts/login/">Login</a>
    {% endif %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block contents %}
    {% endblock %}

    <hr>
    &copy; 2022. 파이썬 사랑방.
    </div>
</body>
</html>